@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Inter', sans-serif;
    background-color: #000000cc;
    color: white;
}

/* ------------------------Header Start-------------------*/

/* Header container */
.navbar {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 15px;
    border-bottom: 1px solid #80808030;
}

/* nav-left */
.navbar .left{
    width: 20%;
    height: 3em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* nav-middle */
.navbar .middle{
    width: 40%;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

/* middle-input */
.middle .input{
    width: 75%;
    height: 2.5em;
    display: flex;
    align-items: center;
    border: 1px solid #80808045;
}

/* middle-input-search */
.middle .input .search{
    width: 85%;
    height: 2.5rem;
    border: none;
    outline: none;
    background-color: #00000082;
    padding: 0px 10px;
    box-sizing: border-box;
    color: #ffffffab;
}

/* middle-input-search-icon */
.middle .input .search-icon{
    display: flex;
    width: 15%;
    height: 2.5em;
    justify-content: center;
    align-items: center;
}

/* middle-input-search-icon-button */
.middle .input .search-icon > button{
    width: 100%;
    height: 2.9em;
    background: #ffffff0d;
    outline: none;
    border: none;
    cursor: pointer;
}

/* middle-microphone */
.middle .microphone{
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    border-radius: 50%;
    background-color: black;
}

/* navbar-right */
.navbar .right {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 3em;
}
/*----------------------------Header End--------------------*/

/*----------------------Main Container Start-----------------*/


/* main-container */
.main-container{
    height: 87vh;
    display: flex;
}


/*--------------Main-aside-menu Starts---------*/

/* main-container-aside-menu */
.main-container .aside-menu {
    width: 18%;
    height: 87vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    cursor: pointer;
}

.aside-menu::-webkit-scrollbar{
    display: none;
}

/* .aside-menu-home-menu */
.aside-menu .home-menu{
    height: 20em;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 1px solid #80808030;
}

.home-menu .home-tab{
    width: 90%;
    height: 2em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
}
/* aside-menu-library-menu */
.aside-menu .library-menu{
    height: 15em;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 1px solid #80808030;
}

.library-menu .library-tab{
    width: 90%;
    height: 2em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
}

/* .aside-menu-subscription */
.aside-menu .subscription{
    height: 15em;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 1px solid #80808030;
}

.subscription .subsciption-tab{
    width: 90%;
    height: 2em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
}

/* .aside-menu-more-resource */
.aside-menu .more-resource{
    height: 15em;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 1px solid #80808030;
}

.more-resource .more-tab{
    width: 90%;
    height: 2em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
}



/*--------------Main-aside-menu Ends---------*/

/*--------------Main Top Tabs Starts----------*/

/* main-container-top-tabs */
.main-container .main-container-top-tabs{
    width: 82vw;
    height: 4em;
    display: flex;
    align-items: center;
    gap: 10px;
    overflow-x: scroll;
    padding: 0px 15px;
}
.main-container-top-tabs::-webkit-scrollbar{
    display: none;
}

/* .main-container-top-tabs-tab */
.main-container-top-tabs .tab{
    width: 100%;
}

/* .main-container-top-tabs-items-tab */
.main-container-top-tabs .items-tab{
    height: 2.5em;
    border-radius: 40%;
    width: 60px;
    border: none;
    outline: none;
    background-color: #80808063;
    color: #ffffffc7;
}

.main-container-top-tabs .all-tab{
    background-color: white;
    color: black;
    border-radius: 50%;
    width: 40px;
}

/* .main-container-top-tabs-scroll-tab */
.videos .scroll-tab{
    position: absolute;
    width: 64px;
    height: 5em;
    background: #000000d4;
    top:0px;
    left: 169vh;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    cursor: pointer;
}

/*---------------Main Top Tab Ends-----------*/

/*--------------Videos Main Container start---------*/

.main-container .videos{
    width: 82%;
    height: 33.7em;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* main-container-yt-uploaded-videos */
.main-container .yt-uploaded-videos{
    width: 100%;
    height: 30em;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow-y: scroll;
    background-color: black;
    gap: 5px 20px;

}

/* video-card */

.yt-uploaded-videos .video-card{
    height: 20em;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 1px;
    cursor: pointer;
}

/* video-card-thumbnail */
.video-card .thumbnail{
    width: 100%;
    height: 12em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

/* video-card-thumbnail-video */

.thumbnail > img{
    width: 100%;
    height: 10em;
    border-radius: 10px;
}

/* video-card-owner-title */
.video-card .owner-title{
    display: flex;
    height: 3em;
    width: 100%;
    gap: 10px;
    text-align: justify;
    line-height: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* video-card-owner-title-owner-photo */
.owner-title .owner-photo{
    width: 15%;
    height: 3em;
    display: flex;
}

/* video-card-owner-title-owner-photo-img */
.owner-title .owner-photo > img{
    height: 2em;
}

/* video-card-owner-title-video-desc */
.owner-title .video-desc{
    font-size: 12px;
    height: 3em;
}

/* .video-card-owner-name */
.video-card .owner-name{
    display: flex;
    width: 65%;
    font-size: 12px;
    color: #ffffff70;
}

/* video-card-views-upload-date */
.video-card .views-upload-date{
    font-size: 10px;
    width: 65%;
    display: flex;
    justify-content: flex-start;
    height: 1em;
    align-items: center;
    color: #ffffff70;
    gap: 5px;
    height: 2em;
}

.yt-uploaded-videos::-webkit-scrollbar{
    display: none;
}


/*----------------------ERROR-------------------------*/

.error{
    width: 420%;
    height: 14.7em;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

